#about {
    $home-image: url('../images/about.jpg');
    @include background($home-image);
}

.about-image {
    background-image: url('../images/family.jpg');
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 100px;
    box-shadow:  5px 5px 5px 5px #111;

}

@include mediaXl {
    .about-container {
        display: grid;
        grid-template-columns: 400px auto auto;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    .content-about1 {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .content-about2 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4;
        font-size: 24px;
       
    }
    .content-about2, .content-about3, .content-about4, .content-about5 {
        background: #444;
        box-shadow: 2px 2px 2px 2px #000;
        padding: 20px;
    }
    .about-header {
        margin-top: 5vh;
    }
    
}
@mixin aboutMdLg {
    .about-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    .content-about1 {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto auto;
    }
    .content-about2 {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 26px;
    }
}
@mixin aboutMdSm {
    h1 {
        &.title{
            font-size: 3rem;
        }
    }
    .about-image {
        width: 250px;
        height: 250px;
    }
}
@include mediaMd {
    @include aboutMdLg;
    @include aboutMdSm;
}
@include mediaLg {
    @include aboutMdLg;
}
@include mediaSm {
    @include aboutMdSm;
    .about-container {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 30px;
    }
}