#projects {
    $home-image: url('../images/projects.jpg');
    @include background($home-image);
}
.project-image {
    img {
        width: 250px;
        height: 250px;
        @include easeOut;
    }
    img:hover {
        box-shadow: 0px 0px 4px 4px $secondary-color;
        @include easeOut;
        cursor: pointer;
    }
}