#projects {
    $home-image: url('../images/projects.jpg');
    @include background($home-image);
}
.project-image {
    img {
        width: 250px;
        height: 250px;
        @include easeOut;
    }
    img:hover {
        box-shadow: 0px 0px 4px 4px $secondary-color;
        @include easeOut;
        cursor: pointer;
    }
}
.project-info {
    font-size: 10px;
    color: #CCC;
}
.projects-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
@mixin projectsMdLg {
    .projects-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}
@include mediaLg {
    @include projectsMdLg;
}
@include mediaMd {
    .projects-container {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 30px;
    }   
}
@include mediaSm {
    .projects-container {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 30px;
    }
}
.content-projects {
    text-align: center;
    a {
        color: #F0f0f0;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}
.project-popup {
    position: absolute;
    background-color: #000;
    overflow: scroll;
}
.spring-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary-color,$background-opacity);
}
.projectPopUp {
    color: #000;
    box-shadow: 4px 4px 4px 6px #222;
    .popUpClose {
        position: absolute;
        right: 15px;
        top: 5px;
        font-size: 28px;
        cursor: pointer;
    }
    .popUpContainer {
        padding: 50px;
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 30px;
        text-align: center;
    }
    img {
        width: 350px;
        height: 350px;
    }
    .popUp0 {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .popUp1, .popUp2 {
        text-align: left;
        padding-left: 50px;
    }
    .popUp3 {
        padding-top: 50px;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 32px;
        a {
            color: #000;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .popUpHeader {
        font-size: 26px;
    }
    .popUpInfo {
        padding-left: 20px;
    }
    .popUpSkills {
        padding-top: 20px;
    }
}