
//For all the mixins
@import 'config.scss';

//Global Variables Navbar variables
@import 'global.scss';

//Sass pages for the various web pages
@import 'home.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'contact.scss';